<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NBR.VSBackGroundPackage.VSBackGroundSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="NBR.VSBackGroundPackage.Resources.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NBR.VSBackGroundPackage.VSBackGroundSetting>
            <setting name="BackGroundPath" serializeAs="String">
                <value>D:\\005</value>
            </setting>
        </NBR.VSBackGroundPackage.VSBackGroundSetting>
        <NBR.VSBackGroundPackage.Resources.Settings>
            <setting name="BackGroundPath" serializeAs="String">
                <value>D:\005</value>
            </setting>
        </NBR.VSBackGroundPackage.Resources.Settings>
    </userSettings>
</configuration>